@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, #010101 -15.71%, #1A0E01 99.57%);
    backdrop-filter: blur(7px);
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    /* gap: px; */
}
.logo{
    color: #FFF;
font-family: 'Poppins' ,sans-serif;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: 153.5%; /* 44.515px */
margin-left: 55px;
margin-top: 37px;
}
.logo a{
    text-decoration: none;
    color: white;  
}
.navlinks li{
    color: #FFF;

/* Base */
font-family: 'Poppins',serif;
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: normal;
list-style-type: none;
/* text-align: center; */
text-decoration: none;
display: inline;
margin-left: 88px;
}
.navlinks{
    margin-left: 550px;
    margin-top: 52px;
}

.navbutton button{
    width: 131.771px;
height: 41.343px;
flex-shrink: 0;
border-radius: 6px;
background: #FA9021;
margin-left: 39px;
margin-top: 44px;
}
.a1{
    color: white;
    text-decoration: none;
}
.a1:hover{
    border-bottom: 3px solid #E47500;
    
}
.a2:hover{
    border-bottom: 3px solid #E47500;
}
.a3{
    border-bottom: 3px solid #E47500;
}
.a4:hover{
    border-bottom: 3px solid #E47500;
}
.a3{
    color: white;
    text-decoration: none;
}
.a2{
    color: white;
    text-decoration: none;
}
.a4{
    color: white;
    text-decoration: none;
}

.navbutton button a{
   color: white;
   text-decoration: none;
}

.main1 .main1-1{
    text-align: center;
    color: white;
    margin-top: 80px;
}

.main1 .main1-1 .Services{
    color: #DC7000;
}

.main1 .main1-1 .main1-1-sp1{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 180.5%; /* 59.565px */
}

.main2{
    width: 1140px;
height: 200px;
flex-shrink: 0;
border-radius: 10px;
background: #1C140F;
margin-top: 45px;
margin-left: 185px;
display: flex;
}
.main2-1 img{
height: 55px;
width: 55px;
}
.main2-1{
    display: flex;
    margin-left: 91px;
    margin-top: 60px;
}
.main2-1-1{
    color: white;
}
.main2-1-1 {
    position: relative;
    left: 10px;
}
.main2-1-1 span{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    /* margin-left: 20px; */
}
.main2-2 img{
    height: 55px;
    width: 55px;
    margin-left: 100px;
    
   
    }
    .main2-2{
        display: flex;
        margin-top: 60px;
        
    }
    .main2-2-1{
        color: white;
    }
    .main2-2-1 span{
        font-size: 20px;
        font-weight: bold;
        
    }
    .main2-3 img{
        height: 55px;
        width: 55px;
        }
        .main2-3{
            display: flex;
            margin-top: 60px;
   
     }
     .main2-3-1{
        color: white;
    }
    .main2-3-1 span{
        font-size: 20px;
        font-weight: bold;
    }

.vector1{
    /* position: relative; */
    margin-left: 100px;
}
.vector2{
    margin-left: 100px;
}

.main2-2-1{
    position: relative;
    left: 10px;
}
.main2-3 {
    position: relative;
    left: 100px;
}
.main2-3-1 {
    position: relative;
    left: 10px;
}

.main3{
    display: flex;
    margin-left: 170px;
    margin-top: 132px;
}
.main3-2{
    width: 427.879px;
    margin-left: 100px;
}
.main3-2 span{
    color: #FFF;
font-family: 'Poppins';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 180.5%; /* 54.15px */
}

.main3-2 label{
    color: #FFF;
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 26.25px */
}

.main3-2-1 li{
    color: #FFF;
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 26.25px */
list-style-type: none;
margin-left: 10px;
}
.main3-2-1 div{
    margin-top: 20px;
}

.main4{
    display: flex;
    margin-top: 190px;
    margin-left: 150px;
}
.main4-1{
    width: 536px;

flex-shrink: 0;
}
.main4-1 span{
    color: #FFF;
font-family: 'Poppins';
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.main4-1 label{
    color: #FFF;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.main4-1 button{
    width: 177px;
height: 50px;
flex-shrink: 0;
background: #DC7000;
}
.main4-2{
    margin-left: 140px;
}


.main5{
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
}
.main5-2{
    width: 536px;
    margin-left: 100px;

flex-shrink: 0;
}
.main5-2 span{
    color: #FFF;
font-family: 'Poppins';
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.main5-2 label{
    color: #FFF;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.main5-2 button{
    width: 177px;
height: 50px;
flex-shrink: 0;
background: #DC7000;
}

.main6{
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
}
.main6-1{
    width: 536px;

flex-shrink: 0;
}
.main6-1 span{
    color: #FFF;
font-family: 'Poppins';
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.main6-1 label{
    color: #FFF;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.main6-1 button{
    width: 177px;
height: 50px;
flex-shrink: 0;
background: #DC7000;
}
.main6-2{
    margin-left: 140px;
}

.main7{
    width: 100%;
height: 810px;
flex-shrink: 0;
background: #1C140F;
margin-top: 170px;
}

.main7-1 span{
    color: #FFF;
text-align: center;
font-family: 'Rubik';
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 142.857% */
}

.main7-1 label{
    color: #FFF;
text-align: center;
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 26.25px */
}
.main7-1{
    width: 555px;
    /* display: flex; */
   text-align: center;
   margin-left: 500px;
   position: relative;
   top: 70px;
}

.main7-2{
    display: flex;
    gap: 50px;
    margin-top: 140px;
    margin-left: 110px;
}

.main7-21{
    width: 400px;
height: 230px;
flex-shrink: 0;
    border-radius: 10px;
border: 2px solid #DC7000;
background: #0F0901;
}

.main7-22{
    width: 400px;
height: 230px;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid #DDD;
}

.main7-23{
    width: 400px;
height: 230px;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid #DDD;
}
.main-portimg1 img{
    position: relative;
    top: 25px;
    left: 20px;
}
.main7-24 span{
    color: #FFF;
text-align: center;
font-family: 'Rubik';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
position: relative;
top: 30px;
left: 28px;
}
.main7-24 label{
    color: #4F5665;
text-align: center;
font-family: 'Rubik';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
position: relative;
top: 30px;
left: 28px;
}

.rating1 span{
    color: #FFF;
font-family: 'Rubik';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
position: relative;
top: 38px;
left: 140px;
}

.rating1 img{
    position: relative;
    top: 40px;
    left: 145px;
}
.main7-sp1{
    display: flex;
width: 340px;
height: 100px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 26.25px */
margin-left: 20px;
margin-top: 15px;
}



.main7-3{
    margin-top: 70px;
    margin-left: 120px;
}

.main7-3-1 .img1{
    position: relative;
    left: 900px;
}
.main7-3-1 .img2{
    position: relative;
    left: 870px;
    top: 14px;

}
.main7-4{
    width: 545px;
    margin-left: 170px;
    margin-top: 50px;
}
.main7-4 span{
    color: #FFF;
font-family: 'Poppins';
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 187.5%; /* 56.25px */
}
.main7-4 label{
    color: #FFF;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 30px */
}

































































.main8-btn{
    width: 139px;
height: 57px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(255, 255, 255, 0.11);
color: #FFF;
font-family: 'Rubik',serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 37.5px */
margin-left: 700px;
margin-top: 70px;
}
.main8-2{
    margin-left: 170px;
    margin-top: 100px;
}
.main8-2 .main8-span1{
    width: 209px;
height: 40px;
flex-shrink: 0;
color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 187.5%; /* 56.25px */
}

.main8-2 .main8-span2{
    width: 545px;
height: 57px;
flex-shrink: 0;
color: #FFF;
font-family: 'Poppins',serif;
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: 187.5%; /* 30px */
}

.main8-subscribe{
    width: 1170px;
height: 189px;
flex-shrink: 0;
border-radius: 15px;
background: #1C140F;
margin-left: 170px;
display: flex;
margin-top: 30px;
align-items: center;
gap: 30px;
}
.sub-1{
    margin-top: 0px;
    margin-left: 35px;
}
.sub-1 .sub1-span1{
    width: 303px;
    color: #FFF;
font-family: 'Poppins',serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.sub-1 .sub1-span2{
    width: 636px;
    color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.sub-2 #email{
    width: 385.679px;
height: 48px;
flex-shrink: 0;
border-radius: 8px 0px 0px 8px;
background: #FFF;
border: 2px solid white;
}

form{
    display:flex;
  flex-direction:row;


}

form button{
    width: 104.996px;
height: 50px;
flex-shrink: 0;
border-radius: 8px;
background: #DC7000;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-bottom: 0px 8px 8px 0px;
border: 2px solid #DC7000;
}






































.footer{
    width: 100%;
height: 376px;
flex-shrink: 0;
background: #070707;
margin-top: 150px;
}
.f-1-1 .sp1{
    color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 153.5%; /* 36.84px */
}

.f-1-1 .sp2{
    
height: 58px;
flex-shrink: 0;
color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 250;
line-height: normal;
}

.f-1-1 .sp3{
    width: 196px;
height: 23px;
flex-shrink: 0;
color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.f-1-1{
    width: 372px;
    margin-top: 35px;

}
.f-1-2{
    margin-top: 20px;
}
.f-1-2 li{
    
color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: 186.3%; /* 29.808px */
list-style-type: none;

} 
.f-1-3 li{
    color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
list-style-type: none;
}
.f-1-3{
    width: 282px;
    margin-left: 100px;
    margin-top: 20px;
}
.f-1-3 span{
    
height: 76px;
flex-shrink: 0;
color: #FFF;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.f-1-3 label{
    color: #FFF;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: normal;

}

.footer-1{
    display: flex;
    gap: 50px;
    /* margin-top: 100px; */
    margin-left: 50px;
}

.f-1-4{
    margin-top: 150px;
}

.line1{
    width: 100%;
}

.foot-span{
    color: #FFF;
font-family: 'Poppins',sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 200;
line-height: 190.6%; /* 24.778px */
/* align-items: center; */
margin-left: 605px;
}
